body{
    background: url("Background.jpg");
}

h1{
    color: #429dff;
}

h2{
    color: #3c91eb
}

h3{
    color: #2f79c8;
}

p{
    color: #2b71bb;
}

a{
    color: #215388;
    font-weight: bold;
}

.error {
    color: #f74949;
}

